@media screen and (max-width: 375px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container {
        Width: 375px;
        Height: 800px;
        background: linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);
        position: relative;
    }

    .base {
        position: absolute;
        top: 4%;
        left: 10%;
    }

    .hero {
        position: absolute;
        top: 12%;
        max-width: 100%;
    }

    .weare {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 100;
        font-size: 51px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 10.8254px;
        color: #CE9898;
        position: absolute;
        top: 45%;
        left: 21%;
    }

    .soon {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 10.8254px;
        color: #423A3A;
        position: absolute;
        top: 52%;
        left: 6%;
    }

    span {
        position: relative;
    }

    .text {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #CE9898;
        position: absolute;
        top: 68%;
        padding: 0px 31px;
    }

    .maininput {
        position: relative;
    }

    .input {
        font-family: 'Josefin Sans';
        font-weight: 400;
        line-height: 28px;
        color: black;
        Width: 281px;
        Height: 48px;
        font-size: 16px;
        mix-blend-mode: normal;
        opacity: 0.5;
        border: 1px solid #CE9898;
        border-radius: 28px;
        position: absolute;
        top: 84%;
        left: 5%;
        padding: 0px 21px;
    }

    .login {
        Width: 64px;
        Height: 48px;
        position: absolute;
        top: 84%;
        left: 78%;
        background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
        box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
        border-radius: 28px;
        border: none;
    }

    .arrow {
        Width: 8px;
        Height: 18px;
        position: absolute;
        top: 86%;
        left: 86%;
    }

    .error {
        position: absolute;
        top: 85.5%;
        left: 68%;
        display: none;
    }

    .hero2 {
        display: none;
    }
}

@media screen and (min-width: 376px) {
    body {
        position: relative;
        Width: 1440px;
        Height: 800px;
        background: url(./images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: calc(62%);
        background-color:#FFF4F4;
    }


    .hero {
        display: none;
    }

    .hero2 {
        width: 610px;
        height: 800px;
        position: absolute;
        left: 68%;

    }

    .base {
        position: absolute;
        top: 10%;
        left: 20%;
    }

    .weare {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 47px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 10.8254px;
        color: #CE9898;
        position: absolute;
        top: 33%;
        left: 19%;
    }

    .soon {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 17.8254px;
        color: #423A3A;
        position: absolute;
        top: 41%;
        left: 19%;
    }

    span {
        position: absolute;
        top: 81%;
        left: 0%;
    }

    .text {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        color: #CE9898;
        position: absolute;
        padding: 0px 763px;
        left: -33%;
        top: 60%;
    }


    .maininput {
        position: relative;
    }

    .input {
        font-family: 'Josefin Sans';
        font-weight: 400;
        line-height: 28px;
        color: black;
        Width: 346px;
        Height: 48px;
        font-size: 16px;
        mix-blend-mode: normal;
        opacity: 0.5;
        border: 1px solid #CE9898;
        border-radius: 28px;
        position: absolute;
        top: 76%;
        left: 19%;
        padding: 0px 21px;
    }

    .login:hover {
        cursor: pointer;
        background: #F8BFBF;
        box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
    }

    .login {
        Width: 79px;
        Height: 48px;
        position: absolute;
        top: 76.1%;
        left: 41%;
        background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
        box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
        border-radius: 28px;
        border: none;
    }

    .arrow {
        Width: 8px;
        Height: 18px;
        position: absolute;
        top: 78%;
        left: 43.7%;
    }

    .error {
        position: absolute;
        top: 85.5%;
        left: 68%;
        display: none;
    }

    .textbox {
        width: 500px;
        height: 300px;
    }

}